<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tmosq.com.pt">

    <application
        android:allowBackup="true"
        android:icon="@drawable/pt_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pt_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.WorkOutRegimentActivity"
            android:label="@string/workout_regiment_label"
            android:launchMode="singleTop" />

        <activity
            android:name=".activity.PreWorkoutActivity"
            android:label="@string/preworkout_label"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.WorkOutRegimentActivity" />

        <activity
            android:name=".activity.WorkoutActivity"
            android:label="@string/workout_label"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.PreWorkoutActivity" />

        <activity
            android:name=".activity.WorkoutDetailActivity"
            android:label="@string/workout_description_label"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.WorkoutActivity"
            android:theme="@style/DetailTheme" />

        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>