<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tmosq.com.pt">

    <application
        android:allowBackup="true"
        android:icon="@drawable/pt_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pt_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.PreWorkoutActivity"
            android:parentActivityName=".activity.WorkOutRegimentActivity"
            />

        <activity android:name=".activity.WorkoutActivity"
            android:parentActivityName=".activity.PreWorkoutActivity"/>

        <activity android:name=".activity.WorkOutRegimentActivity"/>

        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.WorkoutDetailActivity"
            android:theme="@style/DetailTheme"
            android:parentActivityName=".activity.WorkoutActivity"/>
    </application>

</manifest>